@font-face {
  font-family: "Athelas";
  src: url("~@/assets/fonts/athelas-regular.otf");
}

@font-face {
  font-family: "Circular";
  src: url("~@/assets/fonts/CircularStd-Book.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  src: url("~@/assets/fonts/CircularStd-Black.otf");
}