// Colors
$color-light-grey: #f0f0f0;
$color-line-grey: #bebebe;
$color-text-grey: #707070;
$color-green: #22701d;
$color-red: #910707;
$color-red-light: #fbdada;

// Layout
$desktop__navigation__width: 86px;
$desktop__header__height: 84px;
$desktop__main-content__height: calc(100vh - #{$desktop__header__height});